<h1>[ngSwitch]</h1>
<input type="text" required [(ngModel)]="persona.name"/>
<div [ngSwitch]="persona.name">
    <div *ngSwitchCase="'paul'">La persona es paul</div>
    <div *ngSwitchCase="'rigoberto'">La persona es rigoberto</div>
    <div *ngSwitchCase="'nepomuceno'">La persona es nepomuceno</div>
    <div *ngSwitchDefault>output2</div>

</div>
<h1>*ngFor</h1>
<div class="products--grid">
    <div *ngFor="let product of products">
        <img width="250" [src]="product.image" alt="image">
        <h2>{{product.price}}</h2>
        <p>{{product.name}}</p>
    </div>
</div>
<input type="text" [(ngModel)]="newName"/>
<button (click)="addName()">Add name</button>
<ul>
    <li *ngIf="names.length === 0">La lista esta vacia</li>
    <li *ngFor="let name of names; index as i">
        {{i}}{{name}}
        <button (click)="delete(i)">borrar</button>
    </li>
</ul>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="persona.name"/>
<p *ngIf="persona.name === 'nicolas'">nicolas</p>
<p *ngIf="persona.name === 'paul' && persona.age == 18; else elseBlock" >paul</p>
<ng-template #elseBlock>
    <p>Bloque de else</p>
</ng-template>

<h1>NgModel</h1>
<p>Esto es la misma implementacion que realiza el property binding y el eventBinding pero ahorrandonos la implementacion</p>
<p >Nombre {{persona.name}}</p>
<input type="text" #nameInput="ngModel" [(ngModel)]="persona.name">
<p>Valid: {{nameInput.valid}}</p>

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle button</button>
<button (click)="increaseAge()">Age ++</button>
<p>Edad {{persona.age}}</p>

<div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde similique expedita aspernatur sequi voluptatibus fugit vitae sed amet! In, iure? Veritatis, vero. Similique, quam? Numquam illo nostrum officiis porro dolores?</p>
</div>
<hr/>
<p>Name {{persona.name}}</p>
<input type=text [value]="persona.name" (keyup)="changeName($event)"/>
<progress max="100" [value]="persona.age"></progress>
<img width="100" [src] ="persona.img" alt="" srcset="">
<hr/>
<h1>hola mundo</h1>
<h2>{{'Hola Mundo'.repeat(5)}}</h2>
<p> 3 - 3={{3 - 3}}</p>
<p>{{name}}</p>
<p>{{edad}}</p>
<img src={{imagen}} width="100" alt="image"/>

