.box {
    height:200px;
    width: 200px;
    overflow: scroll;
    background: red;
}

.products--grid{
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    div{
        img{
            width:100%;
            border-radius: 10px;
        }
        h2, p {
            margin: 0;
        }
    }
}

@media screen and (min-width: 40em){
    .products--grid{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap:15px;
    }
}

.message-error{
    background-color: red;
    color: white;
    opacity: 0;
    transition: all linear .5s;
    &.invalid{
        opacity: 1;
    }
}

.product-detail{
    position: fixed;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all ease-out .5s;
    transform: tranlateX(100%);
    &.active {
        transform: translateX(0);
    } 
}